body{
	background-image: url(../images/city-lights-bokeh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-position: center;
    background-attachment: fixed

}
.logo{
   	width:30%;
	margin-top: 10%;
}
